[submodule "common"]
	path = common
	url = https://github.com/mochadwi/android-news-common.git
[submodule "news_source"]
	path = news_source
	url = https://github.com/mochadwi/android-news-source.git
[submodule "articles"]
	path = articles
	url = https://github.com/mochadwi/android-news-articles.git 
[submodule "domain"]
	path = domain
	url = https://github.com/mochadwi/android-news-domain.git 
